body{
  background-image: url("../images/pirates-treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   cursor:url("../images/Ship-Wheel.cur"), auto;
    overflow:hidden;
}

/* input[type=text]{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
*/
input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: -4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    background-color: black;
    color: orange;
}

.modalManual {

  visibility: show;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(100,0,0,0.4);


}

.modalManual p {
      font-size: 37px;
}

.modalWin {
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(100,0,0,0.4);

}

.modalWin h2 {
    margin-top: 15px;
}

.modalLoss {
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(100,0,0,0.4);
margin-top: -22px;

}

.modalLoss h2 {
    margin-top: 15px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-image: url("../images/pirates-treasure.jpg");
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 50px 20px;
      font-family: pirateFont2;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: center;
    font-size: 28px;
    font-weight: bold;
      font-family: pirateFont2;
        border-radius:10px;
}

.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
border: 3px solid black;
    text-align: center;
      font-family: pirateFont;
}

.modal-header h2{
  margin-top: 15px;
}

.modal-body {
  padding: 2px 16px;
  background-image: url("../images/pirates-treasure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 29px;
  font-family: pirateFont2;
  font-style: bold;
  text-align: center;
      border-radius: 10px;
      border: 3px solid black;
}
.tryAgainTxt{
  border: 3px solid black;
  background-color: white;
    border-radius: 10px;
    font-style: bold;
}


.modal-body h3 {
  font-size: 23px;
      text-shadow: 2px 2px white;
      margin-top: 4px;
      font-family: pirateFont;
      border: 3px solid black;
      background-color: white;
        border-radius: 10px;
}

.missionBrief {
  border: 3px solid black;
  background-color: white;
  font-style: bold;
  font-family: pirateFont;
    border-radius: 10px;

}



.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
        border-radius: 10px;
        border: 3px solid black;
          font-family: pirateFont2;
}

.title{
  width: 100%;
  height: 100px;
  padding: 40px 0px -20px 0px;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  font-family: pirateFont;
  /* text-shadow: 5px 5px white; */
  font-size: 30px;
      margin-bottom: 32px;

}

.title h1 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}


.table{
    width: 80%;
  background-image: url("../images/animated-water.gif");
border: 3px solid black;
background-repeat: no-repeat;
background-size: cover;

}

.r-section{
  width: 10%;
  height: 600;
  display: inline-block;
  margin-right: -50px;

}

.image2 {
  width: 70%;
  height: 200;
  display: inline-block;
  margin-top: -43px;
}

.playerInformation{
  width: 20%;
  height: 520px;
  float:left;
  background-image: url("../images/pirate-map.jpg");
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  padding: 0px;
  font-style: bold;
  font-size: 25px;
  padding-top: -1px;
    text-shadow: 2px 2px white;
  border: 3px solid black;
  margin-bottom: 10px;
  border-radius:10px;

}

.playerInformation p{

font-size: 32px;
font-style: italic;
font-style: bold;
  font-family: pirateFont2;
border: 3px solid black;
background-color: white;
}

.playerInformation h2{

font-size: 35px;
font-style: italic;
font-style: bold;
border-bottom: 3px solid black;
  font-family: pirateFont;
}


.mainGame {
    width: 60%;
    height: 525px;
    float: center;
    display: inline-block;
      margin-left: -150px;
}

.picture{
width: 10%;
height: 520px;
float: right;
background-color: lightgrey;
margin-right: -10px;
margin-left: -10px;
}

.image img {
    margin-bottom: -25px;
    margin-left: -42px;
    height: 430px;
    padding: 0px;
    padding-right: 0px;
    width: 477px;
    padding-top: 15px;
}

.image img:hover{

}

.wrapper{
  width: 100%;
  height: 525px;
}

.footer{
  width: 96%;
  height: 10px;
  background-color: black;
  padding: 30px;
  margin-left: -10px;
}

table {
  margin: 0px auto;
  border-radius:10px;
  margin-right: -26px;


}
td {
  border: 1px solid black;
  width: 1%;
  height: 53px;
  text-align: center;
  font-size: 8em;
}

td:hover{
    background-image: url("../images/animated-cannon.gif");
    background-repeat: no-repeat;
border: 1px solid white;
}
.battleSub{
  background-color: transparent;
  font-size: 1px;
}

.missSub{
  background-image: url("../images/animated-shark2.gif");
  font-size: 1px;
    background-repeat: no-repeat;
    background-size:cover;
}

.startSub{
  background-image: url("../images/animated-boat.gif");
  font-size: 1px;
}


.subHit{
  background-color: transparent;
  background-image: url("../images/animated-bomb.gif");
    font-size: 1px;
    background-size:contain;
    background-repeat: no-repeat;
}

.visionSub{
  background-color: transparent;
  background-image: url("../images/animated-telescope.gif");
    font-size: 1px;
    background-size:contain;
    background-repeat: no-repeat;
}

.gameOverBtn {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 80px;
    cursor: pointer;
      border-radius:10px;
}

.popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 2px solid black;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 96%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:white transparent transparent transparent;
      border: 2px solid black;
}

/* Toggle this class - hide and show the popup */
.popup:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@font-face {
    font-family: pirateFont;
    src: url("../font/BlackPearl.ttf");
}

@font-face {
  font-family: pirateFont2;
  src:url("../font/pirateFont.ttf");
}
